<h1>Editing Authorname</h1>

<%= render 'form', authorname: @authorname %>
<br/>
<%= link_to 'Show', @authorname ,class:"btn btn-secondary" %> |
<%= link_to 'Back', authornames_path,class:"btn btn-secondary" %>
